/* Example for a Flexbox layout */
header {
  display: flex;
   /*Aligns items in the header */
  justify-content: center;
  align-items: center; /* Centers items vertically */
  padding: 1rem;
}

nav {
  overflow: auto;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  align-items: center;

}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}

nav li {
  margin: 0 1rem;
}

nav a {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
  justify-content: 'space-between',;
  align-items: 'center',;
  padding: 2rem;
  background-color: #495E57;
  color: white;
  font-weight: 500;
  font-size: 25px;
}

h1 {
  color: #F4CE14;
  font-family: 'Martel Sans', ;
  font-size: 51px;
}

h3 {
  font-family: 'Markazi Text';
  font-size: 35;
}

button {
  background-color: #F4CE14;
  color: black;
  padding: 1rem 1.2rem;
  cursor: pointer;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 21px;
  border-radius: 8px;
}


footer {
  display: flex;
  justify-content: center; /* Center footer content */
  padding: 1rem;
}
